
.container{
    display: flex;
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    height:450px;
    width: 450px;
    /* background-color: aqua; */
}
.all{
    display: flex;
    flex-direction: column;
    
}
.display{
    height: 200px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 192, 192)
}
.alloperator
{
display: flex;
flex-direction: column;

}
.keyboard{
    display: flex;
    flex-direction: row;
}
.operator{
font-size: 20px;
height: 50px;
width: 113px;
}
.equal{
    height: 200px;
    width: 113px;
    background-color: rgb(210, 210, 9);
    
}